map $host $alucard {
  default "$ALUCARD_IP";
}

map $host $trevor {
  default "$TREVOR_IP";
}

# Alucard
server {
    listen 80;
    server_name ${FLEXGET_SUBDOMAIN}.${BASE_DOMAIN};
    return 301 https://$host$request_uri;
}

server {
    listen        443 ssl;
    server_name   ${FLEXGET_SUBDOMAIN}.${BASE_DOMAIN};

    # SSL Certificate Paths (e.g., Let's Encrypt / Certbot 
    # paths)
    ssl_certificate /etc/letsencrypt/${BASE_DOMAIN}/fullchain2.pem; 
    ssl_certificate_key /etc/letsencrypt/${BASE_DOMAIN}/privkey2.pem;
    # Recommended SSL Security Settings

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers HIGH:!aNULL:!MD5; ssl_prefer_server_ciphers on; 

    location / {
        proxy_pass         http://$alucard:${FLEXGET_PORT};
        proxy_redirect     off;

        proxy_set_header   Host             $host;
        proxy_set_header   X-Real-IP        $remote_addr;
        proxy_set_header  X-Forwarded-For  $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Proto $scheme;
        proxy_set_header   X-Forwarded-Ssl   on;
        
        proxy_http_version 1.1;
        proxy_set_header   Upgrade $http_upgrade;
        proxy_set_header   Connection "upgrade";
    }
}


server {
    listen 80;
    server_name ${JELLYFIN_SUBDOMAIN}.${BASE_DOMAIN};
    return 301 https://$host$request_uri;
}

server {
    listen        443 ssl;
    server_name   ${JELLYFIN_SUBDOMAIN}.${BASE_DOMAIN};

    # SSL Certificate Paths (e.g., Let's Encrypt / Certbot 
    # paths)
    ssl_certificate /etc/letsencrypt/${BASE_DOMAIN}/fullchain2.pem; 
    ssl_certificate_key /etc/letsencrypt/${BASE_DOMAIN}/privkey2.pem;
    # Recommended SSL Security Settings

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers HIGH:!aNULL:!MD5; ssl_prefer_server_ciphers on; 

    location / {
        proxy_pass         http://$trevor:${JELLYFIN_PORT};
        proxy_redirect     off;

        proxy_set_header   Host             $host;
        proxy_set_header   X-Real-IP        $remote_addr;
        proxy_set_header  X-Forwarded-For  $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Proto $scheme;
        proxy_set_header   X-Forwarded-Ssl   on;
        
        proxy_http_version 1.1;
        proxy_set_header   Upgrade $http_upgrade;
        proxy_set_header   Connection "upgrade";
    }
}

server {
    listen 80;
    server_name ${METUBE_SUBDOMAIN}.${BASE_DOMAIN};
    return 301 https://$host$request_uri;
}

server {
    listen        443 ssl;
    server_name   ${METUBE_SUBDOMAIN}.${BASE_DOMAIN};

    # SSL Certificate Paths (e.g., Let's Encrypt / Certbot 
    # paths)
    ssl_certificate /etc/letsencrypt/${BASE_DOMAIN}/fullchain2.pem; 
    ssl_certificate_key /etc/letsencrypt/${BASE_DOMAIN}/privkey2.pem;
    # Recommended SSL Security Settings

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers HIGH:!aNULL:!MD5; ssl_prefer_server_ciphers on; 

    location / {
        proxy_pass         http://$trevor:${METUBE_PORT};
        proxy_redirect     off;

        proxy_set_header   Host             $host;
        proxy_set_header   X-Real-IP        $remote_addr;
        proxy_set_header  X-Forwarded-For  $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Proto $scheme;
        proxy_set_header   X-Forwarded-Ssl   on;
        
        proxy_http_version 1.1;
        proxy_set_header   Upgrade $http_upgrade;
        proxy_set_header   Connection "upgrade";
    }
}

server {
    listen 80;
    server_name ${RECIPES_SUBDOMAIN}.${BASE_DOMAIN};
    return 301 https://$host$request_uri;
}

server {
    listen        443 ssl;
    server_name   ${RECIPES_SUBDOMAIN}.${BASE_DOMAIN};

    # SSL Certificate Paths (e.g., Let's Encrypt / Certbot 
    # paths)
    ssl_certificate /etc/letsencrypt/${BASE_DOMAIN}/fullchain2.pem; 
    ssl_certificate_key /etc/letsencrypt/${BASE_DOMAIN}/privkey2.pem;
    # Recommended SSL Security Settings

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers HIGH:!aNULL:!MD5; ssl_prefer_server_ciphers on; 

    location / {
        proxy_pass         http://$trevor:${RECIPES_PORT};
        proxy_redirect     off;

        proxy_set_header   Host             $host;
        proxy_set_header   X-Real-IP        $remote_addr;
        proxy_set_header  X-Forwarded-For  $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Proto $scheme;
        proxy_set_header   X-Forwarded-Ssl   on;

	    # Websocket configuration for terminals and so on
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";

        proxy_ssl_verify off;
        proxy_ssl_session_reuse on;
    }
}

server {
    listen 80;
    server_name ${PROXMOX_SUBDOMAIN}.${BASE_DOMAIN};
    return 301 https://$host$request_uri;
}

server {
    listen        443 ssl;
    server_name   ${PROXMOX_SUBDOMAIN}.${BASE_DOMAIN};

    # SSL Certificate Paths (e.g., Let's Encrypt / Certbot 
    # paths)
    ssl_certificate /etc/letsencrypt/${BASE_DOMAIN}/fullchain2.pem; 
    ssl_certificate_key /etc/letsencrypt/${BASE_DOMAIN}/privkey2.pem;
    # Recommended SSL Security Settings

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers HIGH:!aNULL:!MD5; ssl_prefer_server_ciphers on; 

    location / {
        proxy_pass         https://$trevor:${PROXMOX_PORT};
        proxy_redirect     off;

        proxy_set_header   Host             $host;
        proxy_set_header   X-Real-IP        $remote_addr;
        proxy_set_header  X-Forwarded-For  $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Proto $scheme;
        proxy_set_header   X-Forwarded-Ssl   on;

        # Websocket configuration for terminals and so on
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";

        proxy_ssl_verify off;
        proxy_ssl_session_reuse on;
    }
}

server {
    listen 80;
    server_name ${IMMICH_SUBDOMAIN}.${BASE_DOMAIN};
    return 301 https://$host$request_uri;
}

server {
    listen        443 ssl;
    server_name   ${IMMICH_SUBDOMAIN}.${BASE_DOMAIN};
    client_max_body_size 10G;

    # SSL Certificate Paths (e.g., Let's Encrypt / Certbot 
    # paths)
    ssl_certificate /etc/letsencrypt/${BASE_DOMAIN}/fullchain2.pem; 
    ssl_certificate_key /etc/letsencrypt/${BASE_DOMAIN}/privkey2.pem;
    # Recommended SSL Security Settings

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers HIGH:!aNULL:!MD5; ssl_prefer_server_ciphers on; 

    location / {
        proxy_pass         http://$trevor:${IMMICH_PORT};
        proxy_redirect     off;

        proxy_set_header   Host             $host;
        proxy_set_header   X-Real-IP        $remote_addr;
        proxy_set_header  X-Forwarded-For  $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Proto $scheme;
        proxy_set_header   X-Forwarded-Ssl   on;

        # Websocket configuration for terminals and so on
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";

        proxy_ssl_verify off;
        proxy_ssl_session_reuse on;
    }
}



server {
    listen 80;
    server_name ${WARDROBE_SUBDOMAIN}.${BASE_DOMAIN};
    return 301 https://$host$request_uri;
}

server {
    listen        443 ssl;
    server_name   ${WARDROBE_SUBDOMAIN}.${BASE_DOMAIN};

    # SSL Certificate Paths (e.g., Let's Encrypt / Certbot 
    # paths)
    ssl_certificate /etc/letsencrypt/${BASE_DOMAIN}/fullchain2.pem; 
    ssl_certificate_key /etc/letsencrypt/${BASE_DOMAIN}/privkey2.pem;
    # Recommended SSL Security Settings

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers HIGH:!aNULL:!MD5; ssl_prefer_server_ciphers on; 

    location / {
        proxy_pass         http://$trevor:${WARDROBE_PORT};
        proxy_redirect     off;

        proxy_set_header   Host             $host;
        proxy_set_header   X-Real-IP        $remote_addr;
        proxy_set_header  X-Forwarded-For  $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Proto $scheme;
        proxy_set_header   X-Forwarded-Ssl   on;

        # Websocket configuration for terminals and so on
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";

        proxy_ssl_verify off;
        proxy_ssl_session_reuse on;
   }
}

server {
    listen 80;
    server_name ${N8N_SUBDOMAIN}.${BASE_DOMAIN};
    return 301 https://$host$request_uri;
}

server {
    listen        443 ssl;
    server_name   ${N8N_SUBDOMAIN}.${BASE_DOMAIN};

    # SSL Certificate Paths (e.g., Let's Encrypt / Certbot 
    # paths)
    ssl_certificate /etc/letsencrypt/${BASE_DOMAIN}/fullchain2.pem; 
    ssl_certificate_key /etc/letsencrypt/${BASE_DOMAIN}/privkey2.pem;
    # Recommended SSL Security Settings

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers HIGH:!aNULL:!MD5; ssl_prefer_server_ciphers on; 

    location / {
        proxy_pass         http://$trevor:${N8N_PORT};
        proxy_redirect     off;

        proxy_set_header   Host             $host;
        proxy_set_header   X-Real-IP        $remote_addr;
        proxy_set_header  X-Forwarded-For  $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Proto $scheme;
        proxy_set_header   X-Forwarded-Ssl   on;
        
        proxy_http_version 1.1;
        proxy_set_header   Upgrade $http_upgrade;
        proxy_set_header   Connection "upgrade";
    }
}

server {
    listen 80;
    server_name ${AUDIOBOOKS_SUBDOMAIN}.${BASE_DOMAIN};
    return 301 https://$host$request_uri;
}

server {
    listen        443 ssl;
    server_name   ${AUDIOBOOKS_SUBDOMAIN}.${BASE_DOMAIN};

    # SSL Certificate Paths (e.g., Let's Encrypt / Certbot 
    # paths)
    ssl_certificate /etc/letsencrypt/${BASE_DOMAIN}/fullchain2.pem; 
    ssl_certificate_key /etc/letsencrypt/${BASE_DOMAIN}/privkey2.pem;
    # Recommended SSL Security Settings

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers HIGH:!aNULL:!MD5; ssl_prefer_server_ciphers on; 

    location / {
        proxy_pass         http://$trevor:${AUDIOBOOKS_PORT};
        proxy_redirect     off;

        proxy_set_header   Host             $host;
        proxy_set_header   X-Real-IP        $remote_addr;
        proxy_set_header  X-Forwarded-For  $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Proto $scheme;
        proxy_set_header   X-Forwarded-Ssl   on;

	    proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }
}

server {
    listen 80;
    server_name ${HA_SUBDOMAIN}.${BASE_DOMAIN};
    return 301 https://$host$request_uri;
}

server {
    listen        443 ssl;
    server_name   ${HA_SUBDOMAIN}.${BASE_DOMAIN};

    # SSL Certificate Paths (e.g., Let's Encrypt / Certbot 
    # paths)
    ssl_certificate /etc/letsencrypt/${BASE_DOMAIN}/fullchain2.pem; 
    ssl_certificate_key /etc/letsencrypt/${BASE_DOMAIN}/privkey2.pem;
    # Recommended SSL Security Settings

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers HIGH:!aNULL:!MD5; ssl_prefer_server_ciphers on; 

    location / {
        proxy_pass         http://$trevor:${HA_PORT};

        proxy_set_header   Host             $host;
        proxy_set_header   X-Real-IP        $remote_addr;
        proxy_set_header   X-Forwarded-For  $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Proto $scheme;
        proxy_set_header   X-Forwarded-Ssl   on;

        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }
}
server {
    listen 80;
    server_name ${BASE_DOMAIN}  www.${BASE_DOMAIN};
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name ${BASE_DOMAIN} www.${BASE_DOMAIN};

    # SSL Certificate Paths (e.g., Let's Encrypt / Certbot 
    # paths)
    ssl_certificate /etc/letsencrypt/${BASE_DOMAIN}/fullchain2.pem; 
    ssl_certificate_key /etc/letsencrypt/${BASE_DOMAIN}/privkey2.pem;
    # Recommended SSL Security Settings

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers HIGH:!aNULL:!MD5; ssl_prefer_server_ciphers on; 

    location / {
        proxy_pass http://$trevor;
        proxy_redirect off;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        # Crucial headers to inform the backend that the 
        # request
        proxy_set_header X-Forwarded-Proto $scheme; 
        proxy_set_header X-Forwarded-Ssl on;
    }
}
